<img src="../images/ilmudatapy-logo.png" width="350" align="center">
<br>

<center><h1>Tipe Data</h1></center>
<hr>

__Halo Learners!__ Dalam notebook ini Anda akan belajar tentang tipe data dasar yang ada di Python. Jika Anda pernah belajar pemrograman sebelumnya, Anda pasti sudah tidak asing dengan tipe data dasar seperti __string__, __integer__, __float__, dan __boolean__. 

String merupakan representasi untuk karakter atau teks. Integer dan float merepresentasikan sebuah bilangan dimana integer untuk bilangan bulat (misal: 0, 1, 30, -8) dan float untuk bilangan desimal (misal: 2.5, -54.0). Sementara itu, boolean merupakan tipe data yang hanya memiliki dua nilai yaitu __True__ dan __False__.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 25px">
    <ul>
        <li>
            String
            <ul><li>Menampilkan string yang mengandung tanda kutip</li></ul>
        </li>
        <li>
            Integer
        </li>
        <li>
            Float
        </li>
        <li>
            Boolean
        </li>
        <li>
            Mengecek tipe data 
        </li>
        <li>
            Konversi tipe data
            <ul><li>Konversi Integer ke Float dan sebaliknya</li></ul>
            <ul><li>Konversi String ke bilangan (Integer atau Float)</li></ul>
            <ul><li>Konversi bilangan (Integer atau Float) ke String</li></ul>
            <ul><li>Konversi Boolean ke bilangan (Integer atau Float) dan sebaliknya</li></ul>
        </li>
        <li>
            Latihan: String, Integer, Float, Boolean
        </li>
    </ul>
</div>

<hr/>
<div class="alert alert-success" style="margin-top: 20px">
    <strong>Catatan:</strong> Untuk menjalankan kode program Python di Jupyter Notebook, klik pada <i>cell</i> yang ingin di-<i>run</i> lalu tekan <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

## String

String adalah sekumpulan karakter atau huruf. Di Python, tipe data string ditulis str. Objek string dibatasi oleh tanda kutip satu atau kutip dua, jadi semua karakter di dalam tanda kutip, baik itu berupa huruf, angka, atau karakter unik, merupakan bagian dari string tersebut.

In [ ]:
print('Ini adalah contoh string yang ditulis dengan kutip satu')

In [ ]:
print("Ini adalah contoh string yang ditulis dengan kutip dua")

Dalam contoh di atas, kita menampilkan string menggunakan <i>built-in function</i> dari Python yaitu __print()__. Bisa dilihat bahwa penggunaan tanda kutip satu ataupun kutip dua sebagai batasan string tetap akan menghasilkan output yang dimaksud, jadi bisa pilih salah satunya saja.

Python juga memungkinkan kita menampilkan string tanpa menggunakan <i>function</i> __print()__. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
'Cetak string tanpa print() - 1'

In [ ]:
"Cetak string tanpa print() - 2"

Dari output yang dihasilkan di atas dapat dilihat bahwa jika mencetak string tanpa __print()__, maka output yang dikeluarkan mengandung tanda kutip satu, meskipun kode yang dipakai menggunakan tanda kutip dua.

String juga dapat berisi karakter kosong. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
print("")

In [ ]:
print('')

In [ ]:
""

In [ ]:
''

Jika karakter kosong ditulis menggunakan __print()__, maka output yang dikeluarkan benar-benar kosong tanpa tanda kutip. Sedangkan jika karakter kosong ditulis tanpa __print()__, outputnya hanya akan menghasilkan tanda kutip satu.

Lalu bagaimana jika ingin mencetak tanda kutip ?

### Menampilkan string yang mengandung tanda kutip

Mungkin suatu saat kita perlu menampilkan teks yang mengandung tanda kutip. Namun, itu akan menghasilkan <i>error</i> jika ditulis seperti string biasa. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
print('My mom's shoes')

In [ ]:
print("She said, "go!" ")

Setelah di-<i>run</i>, kita akan melihat pesan <i>SyntaxError</i> yang menunjukkan bahwa penulisan sintaknya salah. Python akan bingung karena ada tiga tanda kutip satu pada contoh pertama dan ada empat tanda kutip dua pada contoh kedua.

Bagaimana mengatasinya? 

Cara mengatasinya adalah jika ingin menampilkan tanda kutip satu misalnya, maka pembatas string yang digunakan harus tanda kutip dua. Begitu pula sebaliknya, jika ingin menampilkan tanda kutip dua, maka pembatas string-nya menggunakan tanda kutip satu. Coba jalankan kode di bawah ini.

In [ ]:
print("My mom's shoes ")

In [ ]:
print('She said, "go!" ')

Ada cara lain jika tanda kutip yang digunakan sebagai pembatas string dan yang ingin ditampilkannya sama, yaitu dengan menyisipkan backslash (<code>\\</code>) sebelum tanda kutip yang ingin dicetak.

In [ ]:
print('My mom\'s shoes')

In [ ]:
print("She said, \"go!\" ")

Silahkan pilih cara yang dirasa paling mudah.

<hr>

## Integer

Integer merupakan tipe data untuk objek numerik berupa bilangan bulat positif dan negatif, misalnya 0, 1, 2, 3, dan seterusnya, serta -1, -2, -3, dan seterusnya.

![alt text](../images/integer-number.png)

Untuk mengeluarkan output  berupa integer juga bisa menggunakan __print()__ maupun langsung menuliskan bilangannya langsung, namun tidak perlu dibatasi oleh tanda kutip.

In [ ]:
print(12345)

In [ ]:
20

In [ ]:
print(-10)

<hr>

## Float

Float merupakan tipe data untuk objek numerik berupa bilangan desimal, baik positif atau negatif, misalnya 1.4, 3.5, -2.876, -74.2, dan lainnya.

Sama seperti penulisan kode untuk menampilkan integer, kita tidak perlu membatasi bilangan float dengan tanda kutip.

In [ ]:
print(0.2)

In [ ]:
-3.85

In [ ]:
print(.20)

In [ ]:
print(.28)

In [ ]:
.2

In [ ]:
print(4.)

In [ ]:
4.

<hr>

## Boolean

Tipe data Boolean hanya memiliki dua nilai yaitu __True__ dan __False__. Tipe data ini digunakan untuk mengecek apakah suatu kondisi benar atau salah. Lihatlah contoh di bawah ini.

In [ ]:
print(2 == 3)

In [ ]:
2 == 3

In [ ]:
print(4 == 4)

In [ ]:
4 == 4

In [ ]:
print("AKU" == "aku")

In [ ]:
"AKU" == "aku"

In [ ]:
print('ini' == 'ini')

In [ ]:
'ini' == 'ini'

Pada contoh 1, kita menuliskan 2 sama dengan 3 dan menghasilkan output __False__, yang berarti 2 memang tidak sama dengan 3. Selanjutnya contoh 2 menghasilkan output __True__ karena memang 4 sama dengan 4.

Untuk contoh menggunakan string, "AKU" dan "aku" menghasilkan output __False__ dan dianggap bukan merupakan string yang sama karena Python ini <i>case sensitive</i>, artinya huruf besar tidak sama dengan huruf kecil. Sementara contoh terakhir menghasilkan nilai __True__ karena dua string yang dibandingkan ditulis dengan huruf kecil, jadi dianggap sama.

<hr>

## Mengecek Tipe Data

Python memiliki banyak <i>built-in function</i> yang dapat memudahkan pekerjaan kita, salah satunya yaitu __type()__ yang berfungsi untuk memeriksa jenis tipe data. Silahkan <i>run</i> kode di bawah ini.

In [ ]:
# Cek tipe data dari 6

type(6)

In [ ]:
# Cek tipe data dari -1

type(-1)

In [ ]:
# Cek tipe data dari 0.5

type(0.5)

In [ ]:
# Cek tipe data dari 'saya lapar'

type('saya lapar')

In [ ]:
# Cek tipe data dari 2==3

type(2==3)

In [ ]:
# Cek tipe data dari True

type(True)

Dapat dilihat dari output yang dihasilkan bahwa output dari __type()__ adalah jenis tipe data dari objek yang dimaksud (yang di dalam tanda kurung).

## Konversi Tipe Data

Di Python, kita juga dapat mengonversi tipe data dari suatu objek, misalnya dari __integer__ ke __float__ (2 menjadi 2.0).

Mari kita cek terlebih dahulu tipe datanya.

In [ ]:
type(2)

### Konversi Integer ke Float dan sebaliknya

Untuk mengonversi bilangan integer ke float, kita dapat menggunakan __float()__.

In [ ]:
float(2)

Nah, sekarang kita akan mengecek tipe datanya.

In [ ]:
type(float(2))

Saat kita mengonversi integer ke float, nilai yang dihasilkan tidak berubah. Namun berbeda saat kita melakukan konversi dari float ke integer. Hasil konversi float ke integer mungkin akan menghilangkan sedikit informasi dari bilangan tersebut, karena hasilnya akan dibulatkan.

Untuk mengonversi float ke integer, gunakan __int()__.

In [ ]:
int(1.4)

In [ ]:
int(-3.8)

In [ ]:
int(98.78)

### Konversi String ke bilangan (Integer atau Float)

Terkadang kita perlu mengonversi string yang merupakan karakter angka menjadi bertipe integer atau float agar dapat dilakukan operasi aritmatika.

In [ ]:
# Konversi string ke integer

int('20')

In [ ]:
int('-3')

In [ ]:
# Konversi string ke float

float('99.5')

In [ ]:
float('-27')

Untuk mengonversi string ke integer atau float, kita harus memasukkan angka saja sebagai argumen __int()__ atau __float()__ seperti pada contoh di atas. Jika string yang akan dikonversi mengandung selain angka, akan menyebabkan <i>error</i>.

In [ ]:
int('25 derajat celcius')

In [ ]:
float('2.5 dan 3.5')

### Konversi bilangan (Integer dan Float) ke String

Bukan hanya dapat mengonversi string menjadi bertipe integer atau float, kita juga dapat mengonversi integer dan float menjadi bertipe string.

Untuk mengonversi objek menjadi string, gunakan __str()__.

In [ ]:
# Konversi integer ke string

str(20)

In [ ]:
str(-15)

In [ ]:
# Konversi float ke string

str(87.02)

### Konversi Boolean ke bilangan (Integer atau Float) dan Sebaliknya

Tipe boolean merepresentasikan sebuah angka. Jika kita mengonversi __True__ menjadi integer atau float, maka akan didapatkan nilai 1 atau 1.0, sedangkan __False__ akan menghasilkan nilai 0 atau 0.0. Sebaliknya, jika kita mengonversi angka 1 ke tipe boolean, maka akan menghasilkan __True__, sedangkan angka 0 akan menghasilkan __False__. 

Mari kita coba. Untuk konversi ke tipe boolean, gunakan __bool()__.

In [ ]:
# Konversi boolean ke integer

int(True)

In [ ]:
int(False)

In [ ]:
# Konversi boolean ke float

float(True)

In [ ]:
float(False)

In [ ]:
# Konversi integer ke boolean

bool(1)

In [ ]:
bool(0)

In [ ]:
# Konversi float ke boolean

bool(1.0)

In [ ]:
bool(0.0)

<hr>

## Latihan: String, Integer, Float, Boolean

Pada bagian ini, silahkan Anda menguji pemahaman Anda tentang tipe data yang telah disampaikan di atas. Jika Anda masih bingung, Anda dapat melihat contoh jawaban yang telah disediakan di bawah <i>cell</i> dari masing-masing soal.

### No. 1

Tampilkan tinggi badan Anda dalam bentuk integer!

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

print(168)

-->

### No. 2

Cek tipe data dari tinggi badan Anda!

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

type(168)

-->

### No. 3

Konversi tinggi badan Anda menjadi string!

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

str(168)

-->

### No. 4

Tampilkan teks __Ayahku berkata, "Kamu harus rajin belajar"__

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

print('Ayahku berkata, "Kamu harus rajin belajar"')

-->

### No. 5

Konversi 1 ke boolean!

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

bool(1)

-->

### No. 6

Cek tipe data dari <code>10 / 2</code>!

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

type(10/2)

-->

<hr>

Copyright @ <a href="https://ilmudatapy.com/">ilmudatapy.com</a>