<img src="../images/ilmudatapy-logo.png" width="350" align="center">
<br>

<center><h1>Set</h1></center>
<hr>

__Halo, Learners!__ Di notebook ini kita akan belajar tentang set pada bahasa pemrograman Python termasuk apa itu set, operasi dasar pada set, serta operasi logika pada set.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 25px">
    <ul>
        <li>
            Apa itu Set?
            <ul>
               <li>Contoh Set</li>
               <li>Konversi list menjadi set</li>
            </ul>
        </li>
        <li>
            Operasi pada Set
            <ul>
               <li>Menambah elemen baru pada set</li>
               <li>Menghapus elemen pada set</li>
               <li>Duplikasi set</li>
               <li>Menjumlahkan seluruh elemen pada set</li>
               <li>Mengambil nilai maksimum dan minimum pada set</li>
               <li>Menghitung panjang set (jumlah elemen)</li>
            </ul>
        </li>
        <li>
            Operasi himpunan pada Set
            <ul>
               <li>Union</li>
               <li>Intersection</li>
               <li>Difference</li>
               <li>Symmetric Difference</li>
            </ul>
        </li>
        <li>
            Operasi cek keanggotaan pada Set
            <ul>
               <li>Apakah ada elemen tertentu pada set?</li>
               <li>Apakah dua set disjoint?</li>
               <li>Apakah sebuah set merupakan subset dari set lain?</li>
               <li>Apakah sebuah set mengandung set lain?</li>
            </ul>
        </li>
        <li>
            Frozenset
        </li>
        <li>
            Latihan: Set
        </li>
    </ul>
</div>

<hr>
<div class="alert alert-success" style="margin-top: 20px">
    <strong>Catatan:</strong> Untuk menjalankan kode program Python di Jupyter Notebook, klik pada <i>cell</i> yang ingin di-<i>run</i> lalu tekan <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr>

## Apa itu Set?

Set adalah sebuah tipe data untuk menampung sekumpulan objek unik di Python yang didefinisikan dengan tanda kurung kurawal <code>{}</code>. Jika ada elemen yang sama, maka Python akan otomatis menghapusnya.

### Contoh Set

In [ ]:
# Contoh set

setA = {1, 2, 3, 3, 3, 4, 5, 5}
setA

Dari output di atas, terlihat bahwa Python menghapus duplikasi angka 3 dan 5, sehingga output yang dikeluarkan berupa nilai unik <code>1, 2, 3, 4, 5</code>.

Set bisa berisi elemen dengan berbagai tipe data, namun hanya tipe data yang bersifat <i>immutable</i> atau tidak dapat diubah. Jadi, list yang bersifat <i>mutable</i> tidak dapat menjadi elemen pada set.

Set juga bersifat tidak terurut, maksudnya adalah output yang ditampilkan mungkin tidak akan sama urutannya dengan yang didefinisikan.

In [ ]:
# Contoh set dengan berbagai tipe data

setB = {'halo', 100, (1, 2), True, 9.5}
setB

Sekarang kita coba memasukkan list ke dalam set. Ini akan menyebabkan <i>error</i>.

In [ ]:
# Contoh set yang mengandung list

setC = {'halo', 100, [1, 2]}
setC

Kita juga tidak dapat melakukan <i>indexing</i> pada set. Jika itu dilakukan, maka akan muncul pesan <i>error</i>.

In [ ]:
# Set tidak mendukung indexing

setB[0]

### Konversi list menjadi set

Kita dapat mengubah list menjadi set menggunakan <code>set()</code>. Ini akan otomatis membuat duplikat elemen pada list terhapus.

In [ ]:
# Konversi list ke set

movie_list = ['Titanic', '2012', 'Home Alone', 'Avatar', 'Titanic', 'Jurassic Park', \
              'The Terminator', 'Avatar', 'Men in Black']
movie_set = set(movie_list)
movie_set

<hr>

## Operasi pada Set

### Menambah elemen baru pada set

Untuk menambah elemen baru pada set, kita dapat menggunakan <i>method</i> <code>add()</code>.

In [ ]:
# Contoh penggunaan add()

setA = {1, 2, 3, 4, 5}
setA.add(10)
print(setA)

Kita juga dapat menambah beberapa elemen baru sekaligus pada set dengan menggunakan <i>method</i> <code>update()</code>.

In [ ]:
# Contoh penggunaan update()

setA = {1, 2, 3, 4, 5}
setA.update(['jeruk', 'apel', 'melon'])
print(setA)

### Menghapus elemen pada set

Untuk menghapus elemen tertentu pada set, kita dapat menggunakan <i>method</i> <code>remove()</code> atau <code>discard()</code>.

In [ ]:
# Contoh penggunaan remove()

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
print('Sebelum menghapus nanas:', setBuah)
setBuah.remove('nanas')
print('Setelah menghapus nanas:', setBuah)

In [ ]:
# Contoh penggunaan discard()

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
print('Sebelum menghapus jeruk:', setBuah)
setBuah.discard('jeruk')
print('Setelah menghapus jeruk:', setBuah)

Jika elemen yang dimaksud tidak ada di dalam set, <code>remove()</code> akan menghasilkan <i>error</i>, sedangkan <code>discard()</code> __tidak__ menghasilkan <i>error</i>.

In [ ]:
# Contoh penggunaan remove() jika elemen yang ingin dihapus tidak ada di dalam set

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
setBuah.remove('durian')
print(setBuah)

In [ ]:
# Contoh penggunaan discard() jika elemen yang ingin dihapus tidak ada di dalam set

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
setBuah.discard('durian')
print(setBuah)

Kita juga dapat menggunakan <i>method</i> <code>pop()</code> untuk menghapus elemen terakhir pada set. Namun, perlu diingat bahwa set bersifat __tidak terurut__ sehingga kita tidak tahu pasti elemen apa yang akan terhapus.

In [ ]:
# Contoh penggunaan pop()

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
print('Sebelum menghapus elemen terakhir:', setBuah)
setBuah.pop()
print('Setelah menghapus elemen terakhir:', setBuah)

Jika kita __print__ <code>setBuah.pop()</code>, maka akan menampilkan elemen yang terhapus.

In [ ]:
# print setBuah.pop()

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
print('Sebelum menghapus elemen terakhir:', setBuah)
print('Elemen yang terhapus: ', setBuah.pop())

Jika kita ingin menghapus set secara keseluruhan, kita dapat menggunakan <code>del</code>.

In [ ]:
# Menggunakan del untuk menghapus set keseluruhan

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
del setBuah
print(setBuah)

Output di atas menghasilkan <i>error</i> karena <code>setBuah</code> sudah dihapus sebelum fungsi <code>print()</code> dieksekusi.

Jika kita hanya ingin mengosongkan set, maka kita dapat menggunakan <i>method</i> <code>clear()</code>.

In [ ]:
# Mengosongkan set dengan clear()

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
setBuah.clear()
print(setBuah)

### Duplikasi set

Untuk menduplikasi set, kita dapat menggunakan <i>method</i> <code>copy()</code>.

In [ ]:
# Contoh penggunaan copy()

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}
copyBuah = setBuah.copy()
print('Ini adalah setBuah: ', setBuah)
print('Ini adalah copyBuah: ', copyBuah)

### Menjumlahkan seluruh elemen pada set

Untuk menjumlahkan seluruh elemen pada set, kita dapat menggunakan <i>function</i> <code>sum()</code>.

In [ ]:
# Contoh penggunaan sum()

setBil ={100, 67, 89, 50, 23, 40}
print('Jumlah bilangan di dalam set = ', sum(setBil))

### Mengambil nilai maksimum dan minimum pada set

Kita juga dapat mengambil nilai maksimum dan minimum dari suatu set. Nilai maksimum dapat diambil menggunakan fungsi <code>max()</code>, sedangkan nilai minimum menggunakan fungsi <code>min()</code>.

In [ ]:
# Contoh penggunaan max() dan min()

setBil ={100, 67, 89, 50, 23, 40}
print('Nilai maksimum: ', max(setBil))
print('Nilai minimum: ', min(setBil))

### Menghitung panjang set (jumlah elemen)

Menghitung panjang set atau jumlah elemen pada set dapat menggunakan fungsi <code>len()</code>.

In [ ]:
# Contoh penggunaan len()

setBil ={100, 67, 89, 50, 23, 40}
print(len(setBil))

<hr>

## Operasi himpunan pada Set

### Union

<i>Union</i> atau operasi gabungan adalah menggabungkan semua nilai dari set <code>A</code> dan set <code>B</code> dengan mengeliminasi nilai yang sama. Di Python, kita dapat menggunakan <i>method</i> <code>union()</code> atau operator <code>|</code>.

In [ ]:
# Contoh penggunaan union()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.union(B)

In [ ]:
# Contoh penggunaan | untuk menggabungkan set

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

print(A | B)

<i>Method</i> <code>update()</code> juga dapat digunakan untuk operasi ini.

In [ ]:
# Menggunakan update() untuk menggabungkan set B ke A

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.update(B)
print(A)

### Intersection

<i>Intersection</i> atau irisan adalah mengambil nilai yang sama dari kedua set. Di Python, kita dapat menggunakan <i>method</i> <code>intersection()</code> atau operator <code>&</code>.

In [ ]:
# Contoh penggunaan intersection()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

print(A.intersection(B))

In [ ]:
# Mengambil nilai yang sama dari dua set menggunakan &

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A & B

### Difference

<i>Difference</i> atau selisih <code>A</code> dari <code>B</code> (<code>A - B</code>) adalah kumpulan elemen yang ada di <code>A</code> tapi tidak ada di <code>B</code>. Begitu pun sebaliknya, <code>B - A</code> adalah kumpulan elemen yang ada di <code>B</code> tapi tidak ada di <code>A</code>. Di Python, <i>difference</i> dapat diperoleh dengan menggunakan <i>method</i> <code>difference()</code> ataupun dengan operator <code>-</code>.

In [ ]:
# Contoh penggunaan difference()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.difference(B)

In [ ]:
# Menggunakan operator -

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A - B

In [ ]:
# Contoh penggunaan difference()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

B.difference(A)

In [ ]:
# Menggunakan operator -

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

B - A

### Symmetric Difference

<i>Symmetric difference</i> adalah kumpulan elemen yang ada di <code>A</code> dan <code>B</code> namun tidak mengikutsertakan elemen yang ada pada keduanya alias mengeliminasi <i>intersection</i>. <i>Symmetric difference</i> dapat diperoleh dengan menggunakan <i>method</i> <code>symmetric_difference()</code> atau dengan operator <code>^</code>.

In [ ]:
# Contoh penggunaan symmetric_difference()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.symmetric_difference(B)

In [ ]:
# Menggunakan operator ^

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A ^ B

<hr>

## Operasi cek keanggotaan pada Set

Kita juga dapat mengecek keanggotaan pada set. Operasi ini akan menghasilkan nilai boolean __True__ dan __False__.

### Apakah ada elemen tertentu pada set?

Untuk mengecek keberadaan elemen tertentu pada set, kita dapat menggunakan operator <code>in</code> atau <code>not in</code>. Operator <code>in</code> digunakan untuk mengecek apakah suatu elemen ada di dalam set, sedangkan <code>not in</code> digunakan untuk mengecek apakah suatu elemen tidak ada di dalam set.

In [ ]:
# Contoh penggunaan in

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}

'melon' in setBuah

In [ ]:
# Contoh penggunaan not in

setBuah = {'jeruk', 'apel', 'melon', 'nanas', 'semangka', 'jambu'}

'melon' not in setBuah

### Apakah dua set disjoint?

Untuk mengetahui apakah dua set <i>disjoint</i> atau tidak memiliki irisan, kita dapat menggunakan <i>method</i> <code>isdisjoint()</code>.

In [ ]:
# Contoh penggunaan isdisjoint()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.isdisjoint(B)

In [ ]:
# Contoh penggunaan isdisjoint()

C = {'a', 'b', 'c'}
D = {'d', 'e', 'f'}

C.isdisjoint(D)

### Apakah sebuah set merupakan subset dari set lain?

Kita juga dapat mencari tahu apakah sebuah set merupakan subset dari set lain dengan menggunakan <i>method</i> <code>issubset()</code> atau operator <code><=</code>.

In [ ]:
# Contoh penggunaan issubset()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.issubset(B)

In [ ]:
C = {1, 2, 3}
D = {1, 2, 3, 4, 5}

C.issubset(D)

In [ ]:
# Contoh penggunaan operator <=

C = {1, 2, 3}
D = {1, 2, 3, 4, 5}

C <= D

### Apakah sebuah set mengandung set lain?

Untuk mengecek apakah sebuah set mengandung set lain, kita dapat menggunakan <i>method</i> <code>issuperset()</code> atau operator <code>>=</code>. Ini merupakan kebalikan dari operasi <code>issubset()</code>.

In [ ]:
# Contoh penggunaan issuperset()

A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8, 9}

A.issuperset(B)

In [ ]:
C = {1, 2, 3}
D = {1, 2, 3, 4, 5}

D.issuperset(C)

In [ ]:
# Contoh penggunaan operator >=

C = {1, 2, 3}
D = {1, 2, 3, 4, 5}

D >= C

<hr>

## Frozenset

Seperti yang kita tahu bahwa set bersifat <i>mutable</i> atau dapat dimodifikasi. Untuk membuat set yang bersifat <i>immutable</i>, kita dapat menggunakan frozenset. Kita dapat membuat frozenset dengan menggunakan <i>function</i> <code>frozenset()</code>.

Misalnya kita akan coba membuat frozenset seperti di bawah ini.

In [ ]:
# Mendefinisikan frozenset

A = frozenset([1, 2, 3, 4, 5, 6])
B = frozenset([5, 6, 7, 8, 9])

print(A)
print(B)

Sekarang kita coba melakukan beberapa operasi himpunan.

In [ ]:
# Melakukan operasi union()

A = frozenset([1, 2, 3, 4, 5, 6])
B = frozenset([5, 6, 7, 8, 9])

A.union(B)

In [ ]:
# Melakukan operasi issuperset()

A.issuperset(B)

In [ ]:
# Mengecek keberadaan elemen 6

6 in A & B

Seperti yang dapat kita lihat dari output di atas, kita masih dapat melakukan operasi himpunan selayaknya yang dapat dilakukan set biasa selain memodifikasi isi frozenset tersebut. 

Sekarang kita akan coba melakukan modifikasi pada frozenset. Ini akan menghasilkan pesan <i>error</i>. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
# Menambahkan elemen baru pada frozenset

A = frozenset([1, 2, 3, 4, 5, 6])

A.add(100)

In [ ]:
# Menghapus elemen pada frozenset

A = frozenset([1, 2, 3, 4, 5, 6])

A.remove(1)

Setelah menjalankan <i>cell</i> di atas, kita dapat melihat bahwa frozenset tidak dapat diubah isinya.

<hr>

## Latihan: Set

Pada bagian ini, silahkan Anda menguji pemahaman Anda tentang set yang telah disampaikan di atas. Jika Anda masih bingung, Anda dapat melihat contoh jawaban yang telah disediakan di bawah <i>cell</i> dari masing-masing soal.

### No. 1

Buatlah sebuah set <code>set1</code> yang berisi <code>satu</code>, <code>2</code>, <code>None</code>, <code>10:00</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

set1 = {'satu', 2, None, '10:00'}
print(set1)

-->

### No. 2

Konversi list <code>kota = ['Bandung', 'Bogor', 'Jakarta', 'Medan', 'Surabaya', 'Yogyakarta']</code> menjadi sebuah set !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

kota = ['Bandung', 'Bogor', 'Jakarta', 'Medan', 'Surabaya', 'Yogyakarta']
kota = set(kota)
print(kota)

-->

### No. 3

Hapus <code>Bogor</code> dari set <code>kota</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

kota.remove('Bogor')
print(kota)

-->

### No. 4

Ambil irisan dari <code>kota1</code> yang terdiri dari <code>Bandung</code>, <code>Bogor</code>, <code>Jakarta</code> dan <code>kota2</code> yang terdiri dari <code>Surabaya</code>, <code>Bandung</code>, <code>Medan</code>, <code>Yogyakarta</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

kota1 = {'Bandung', 'Bogor', 'Jakarata'}
kota2 = {'Surabaya', 'Bandung', 'Medan', 'Yogyakarta'}

print(kota1.intersection(kota2))

-->

### No. 5

Buatlah sebuah frozenset <code>music_genres</code> yang berisi <code>Rock</code>, <code>Pop</code>, <code>RnB</code>, <code>Jazz</code>, <code>Hip hop</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban

music_genres = frozenset(['Rock', 'Pop', 'RnB', 'Jazz', 'Hip hop'])
print(music_genres)

-->

<hr>

Copyright @ <a href="https://ilmudatapy.com/">ilmudatapy.com</a>