<img src="../images/ilmudatapy-logo.png" width="350" align="center">
<br>

<center><h1>Dictionary</h1></center>
<hr>

__Halo, Learners!__ Di notebook ini kita akan membahas tentang dictionary pada bahasa pemrograman Python, termasuk apa itu dictionary serta operasi dasar yang dapat dilakukan.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 25px">
    <ul>
        <li>
            Apa itu Dictionary?
            <ul>
               <li>Contoh Dictionary</li>
            </ul>
        </li>
        <li>
            Mengakses Dictionary
            <ul>
               <li>Mengakses value</li>
               <li>Mengakses key</li>
            </ul>
        </li>
        <li>
            Nested Dictionary
        </li>
        <li>
            Operasi pada Dictionary
            <ul>
               <li>Mengubah nilai dictionary</li>
               <li>Menambah item baru pada dictionary</li>
               <li>Menghapus item pada dictionary</li>
               <li>Duplikasi dictionary</li>
               <li>Mengetahui panjang dictionary</li>
               <li>Mengecek keberadaan key pada dictionary</li>
            </ul>
        </li>
        <li>
            Latihan: Dictionary
        </li>
    </ul>
</div>

<hr>
<div class="alert alert-success" style="margin-top: 20px">
    <strong>Catatan:</strong> Untuk menjalankan kode program Python di Jupyter Notebook, klik pada <i>cell</i> yang ingin di-<i>run</i> lalu tekan <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr>

## Apa itu Dictionary?

Dictionary adalah sebuah tipe data di Python yang berfungsi untuk menyimpan koleksi data dan didefinisikan di dalam kurung kurawal <code>{}</code>. Tidak seperti list atau tuple yang bersifat terurut berdasarkan indeks, dictionary bersifat tidak terurut. Setiap item dalam dictionary terdiri dari pasangan <i>key-value</i> yang dipisahkan oleh titik dua <code>:</code>.

<i>Key</i> pada dictionary bisa berupa teks, bilangan, atau tuple, namun <i>value</i>-nya bisa berupa tipe data apapun.

<img src="../images/dictionary-1.png" align="center">

### Contoh Dictionary

Berikut merupakan contoh dictionary.

In [ ]:
# Contoh dictionary

dict1 = {1: 'a', 2: 'b', 3: 'c', (4, 5): 'd'}
dict1

<code>1</code>, <code>2</code>, <code>3</code>, dan <code>(4, 5)</code> merupakan <i>key</i>, sedangkan <code>a</code>, <code>b</code>, <code>c</code>, dan <code>d</code> merupakan <i>value</i> untuk masing-masing <i>key</i>-nya.

In [ ]:
# Contoh dictionary

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21}
data_mhs

Pada contoh di atas, <code>nama</code> merupakan <i>key</i> dan <code>Budi</code> merupakan <i>value</i>-nya. Begitu juga dengan <code>kota asal</code> yang merupakan sebuah <i>key</i> yang memiliki nilai yaitu <code>Jakarta</code>, dan <i>key</i> <code>usia</code> yang memiliki nilai <code>21</code>.

<hr>

## Mengakses dictionary

### Mengakses value

Untuk mengakses <i>value</i> pada dictionary, kita dapat menggunakan <i>key</i> yang ditempatkan di dalam kurung siku <code>[]</code> setelah nama dictionary-nya.

In [ ]:
data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21}

data_mhs['nama']       # Mengakses value dengan key 'nama'

In [ ]:
# Mengakses value dengan key 'usia'

data_mhs['usia']

Selain itu, kita juga dapat menggunakan <i>method</i> <code>get()</code> yang akan mengeluarkan hasil yang sama. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
# Mengakses value dengan method get()

data_mhs.get('nama')

In [ ]:
# Mengakses value dengann method get()

data_mhs.get('kota asal')

Jika hanya ingin memperoleh <i>value</i> dari sebuah dictionary, kita dapat menggunakan <i>method</i> <code>values()</code>. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
# Mendapatkan daftar value

data_mhs.values()

### Memperoleh daftar key

Untuk memperoleh daftar <i>key</i> yang ada pada dictionary, kita dapat menggunakan <i>method</i> <code>keys()</code>.

In [ ]:
# Menggunakan keys()

data_mhs.keys()

Atau bisa juga menggunakan operator <code>*</code>. Perhatikan contoh penggunaannya di bawah ini.

In [ ]:
# Menggunakan *

[*data_mhs]

<hr>

## Nested Dictionary

Kita juga dapat membuat <i>nested dictionary</i> atau dictionary yang berada di dalam dictionary.

In [ ]:
employees = {
    'employee1': {'name': 'John',
                  'year': 2016},
    'employee2': {'name': 'Jessica',
                  'year': 2018},
    'employee3': {'name': 'Alex',
                  'year': 2019}
}

employees

Atau bisa juga dengan membuat dictionary untuk masing-masing <i>employee</i>, lalu buat dictionary induk untuk menampung dictionary-dictionary tersebut. Perhatikan kode berikut.

In [ ]:
employee1 = {
    'name': 'John',
    'year': 2016
}
employee2 = {
    'name': 'Jessica',
    'year': 2018
}
employee3 = {
    'name': 'Alex',
    'year': 2019
}

employees = {
    'employee1': employee1,
    'employee2': employee2,
    'employee3': employee3
}

employees

<hr>

## Operasi pada dictionary

### Mengubah nilai dictionary

In [ ]:
# Mengubah usia

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21}

data_mhs['usia'] = 23
data_mhs

In [ ]:
# Mengubah kota asal

data_mhs['kota asal'] = 'Bandung'
data_mhs

Kita juga dapat mengubah <i>nested dictionary</i> dengan cara berikut.

In [ ]:
# Mengubah nilai year pada employee1 menjadi 2017

employees = {
    'employee1': {'name': 'John',
                  'year': 2016},
    'employee2': {'name': 'Jessica',
                  'year': 2018},
    'employee3': {'name': 'Alex',
                  'year': 2019}
}

employees['employee1']['year'] = 2017
employees

### Menambah item baru pada dictionary

Untuk menambah item baru pada dictionary, kita dapat dengan mudah menuliskan nama <i>key</i> baru yang akan digunakan disertai dan nilainya.

In [ ]:
# Menambah item baru pada dictionary

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21}

data_mhs['nilai akhir'] = 79   # Menambahkan key 'nilai akhir' yang diberikan nilai '79'
data_mhs

### Menghapus item pada dictionary

Ada beberapa <i>method</i> yang dapat digunakan untuk menghapus item pada dictionary, diantaranya <code>pop()</code>, <code>popitem()</code>, dan juga menggunakan <code>del</code>.

<code>pop()</code> digunakan untuk menghapus item berdasarkan nama <i>key</i>.

In [ ]:
# Contoh penggunaan pop()

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

data_mhs.pop('kota asal')    # Menghapus kota asal
print(data_mhs)

<i>Method</i> <code>popitem()</code> akan menghapus item terakhir.

In [ ]:
# Contoh penggunaan popitem()

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

data_mhs.popitem()    # Method popitem() akan menghapus nilai akhir
print(data_mhs)

<code>del</code> juga dapat digunakan untuk menghapus item berdasarkan nama <i>key</i>.

In [ ]:
# Contoh penggunaan del

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

del data_mhs['usia']    # Menghapus usia menggunakan del
print(data_mhs)

Selain digunakan untuk menghapus item berdasarkan nama <i>key</i>, <code>del</code> juga dapat digunakan untuk menghapus keseluruhan dictionary.

In [ ]:
# Contoh penggunaan del untuk menghapus keseluruhan dictionary

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

del data_mhs    # Menghapus dictionary data_mhs
print(data_mhs)

Jika Anda menjalankan kode di atas, Anda akan melihat pesan <i>error</i> yang menyatakan <code>name 'data_mhs' is not defined</code>. Itu karena <code>data_mhs</code> telah terhapus sebelum mengeksekusi <code>print()</code>.

Namun, jika Anda hanya bermaksud untuk mengosongkan dictionary tanpa menghapusnya, Anda dapat menggunakan <i>method</i> <code>clear()</code>. Coba jalankan <i>cell</i> di bawah ini.

In [ ]:
# Contoh penggunaan clear()

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

data_mhs.clear()   # Mengosongkan isi dictionary dengan clear()
print(data_mhs)

Dapat dilihat bahwa output dari kode di atas hanya menghasilkan dictionary kosong.

### Duplikasi dictionary

Untuk menduplikasi dictionary, kita dapat menggunakan <i>method</i> <code>copy()</code>.

In [ ]:
# Contoh penggunaan copy()

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

mahasiswa = data_mhs.copy()     # Menduplikasi 'data_mhs' ke dalam dictionary baru ke dalam 'mahasiswa'
print(mahasiswa)

### Mengetahui panjang dictionary

Untuk memperoleh panjang dictionary, atau jumlah item yang ada pada dictionary, kita dapat menggunakan fungsi <code>len()</code>.

In [ ]:
# Contoh penggunaan len()

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

len(data_mhs)    # Menghitung panjang dictionary (jumlah item)

### Mengecek keberadaan key pada dictionary

Untuk mengecek keberadaan sebuah <i>key</i> di dalam dictionary, kita dapat melakukannya menggunakan <code>in</code>. Outputnya yaitu berupa boolean, __True__ jika ada, dan __False__ jika tidak ada.

In [ ]:
# Contoh penggunaan in

data_mhs = {'nama': 'Budi',
            'kota asal': 'Jakarta',
            'usia': 21,
            'nilai akhir': 79}

'nama' in data_mhs    # Mengecek apakah 'nama' ada sebagai key di data_mhs

In [ ]:
# Mengecek apakah 'alamat' ada sebagai key di data_mhs

'alamat' in data_mhs

<hr>

## Latihan: Dictionary

Pada bagian ini, silahkan Anda menguji pemahaman Anda tentang dictionary yang telah disampaikan di atas. Jika Anda masih bingung, Anda dapat melihat contoh jawaban yang telah disediakan di bawah <i>cell</i> dari masing-masing soal.

### No. 1

Buat sebuah dictionary <code>movies</code> dengan pasangan <i>key-value</i> <code>Home Alone: 1990</code>, <code>The Terminator: 1984</code>, <code>Titanic: 1997</code>, <code>Jurassic Park: 1993</code>, <code>The Lord of the Rings: 2001</code>, <code>Avatar: 2009</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

movies = {
    'Home Alone': 1990,
    'The Terminator': 1984,
    'Titanic': 1997,
    'Jurassic Park': 1993,
    'The Lord of the Rings': 2001,
    'Avatar': 2009
}

movies

-->

### No. 2

Ambil <i>value</i> dari <i>key</i> <code>Titanic</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

movies['Titanic']

-->

### No. 3

Ambil semua <i>key</i> dari dictionary <code>movies</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

movies.keys()

-->

### No. 4

Tambahkan item baru <code>Harry Potter: 2001</code> pada dictionary <code>movies</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

movies['Harry Potter'] = 2001
movies

-->

### No. 5

Hapus <code>The Terminator</code> dari dictionary <code>movies</code> !

In [ ]:
# Ketik kode Anda disini

Klik dua kali __disini__ untuk melihat jawaban

<!-- Jawaban:

del movies['The Terminator']
movies

-->

<hr>

Copyright @ <a href="https://ilmudatapy.com/">ilmudatapy.com</a>